/* Entrys */


.entry-header {
    &>* {
        display: block;
    }
}

.entry-header,
.entry-content,
.wp-block-cover__inner-container {
    width: 100% !important;

    &>*:not(.alignwide):not(.alignfull) {
        @extend %container-breakpoints;
    }

    &>*:not(.alignfull) {
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    .alignfull {
        max-width: 100%;
    }

    .alignwide {

        // Extra large devices (large desktops, 1200px and up)
        @media (min-width: 1200px) {
            max-width: 1360px;
        }
    }
}

.entry-footer {
    margin: 0 auto;
    padding: 0 15px;
    @extend %container-breakpoints;
}

%container-breakpoints {
    @media (min-width: 576px) {
        max-width: 540px;
    }

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 992px) {
        max-width: 960px;
    }

    @media (min-width: 1200px) {
        max-width: 1140px;
    }
}