/* Buttons */

.btn-outline {
    color: $color4;
    background-color: transparent;
    background-image: none;
    border: 2px solid $color4;
    border-radius: 0;

    &:hover {
        background-color: $color4;
        color: #fff;
    }
}