/* Social Links */

.social {
    a {
        display: flex;
        align-items: center;
        color: $color1;

        i {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 5px;
            width: 3rem;
            height: 3rem;
            vertical-align: bottom;
            font-size: $font-size-4;
            text-align: center;
            border-radius: 50%;
            border: solid 2px $color1;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
        }

        &:hover {
            background: transparent;
            text-decoration: none;

            &.facebook {
                color: #4460ae;
                i {
                    border-color: #4460ae;
                }
            }

            &.instagram {
                color: #cd4378;
                i {
                    border-color: #cd4378;
                }
            }

            &.twitter {
                color: #1da1f2;
                i {
                    border-color: #1da1f2;
                }
            }

            &.youtube {
                color: #FF0000;
                i {
                    border-color: #FF0000;
                }
            }

            &.linkedin {
                color: #008891;
                i {
                    border-color: #008891;
                }
            }

            &.pinterest {
                color: #BD081C;
                i {
                    border-color: #BD081C;
                }
            }

            &.wordpress {
                color: #00749C;
                i {
                    border-color: #00749C;
                }
            }

            &.github {
                color: #4078c0;
                i {
                    border-color: #4078c0;
                }
            }

            &.gitlab {
                color: #fc6d26;
                i {
                    border-color: #fc6d26;
                }
            }

            &.bitbucket {
                color: #2684FF;
                i {
                    border-color: #2684FF;
                }
            }

            &.whatsapp {
                color: #25D366;
                i {
                    border-color: #25D366;
                }
            }

            &.phone {
                color: #ffbf00;
                i {
                    border-color: #ffbf00;
                }
            }

            &.email {
                color: #4a7f45;
                i {
                    border-color: #4a7f45;
                }
            }

            &.link {
                color: #871AFF;
                i {
                    border-color: #871AFF;
                }
            }
        }
    }
}