/* Backgrounds */

.bg-color-one {
    background-color: $color1;
}

.bg-color-two {
    background-color: $color2;
}

.bg-color-three {
    background-color: $color3;
}

.bg-color-four {
    background-color: $color4;
}

.bg-color-five {
    background-color: $color5;
}