/* Borders */

.border-thick {
    border-width: 2px !important;
}

.border-color-one {
    border-color: $color1 !important;
}

.border-color-two {
    border-color: $color2 !important;
}

.border-color-three {
    border-color: $color3 !important;
}

.border-color-four {
    border-color: $color4 !important;
}

.border-color-five {
    border-color: $color5 !important;
}