/* Widgets */

.widget {

    &:not(:first-child) {
        margin-top: 30px;
    }

    ul {
        padding: 0;

        li {
            padding-bottom: 4px;
            margin-bottom: 4px;
            text-align: center;

            a {
                color: $color3;
            }
        }
    }

    .widget-title {
        margin-bottom: 15px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }
}