// Coolors Palette - coolors.co/1cc9a7-1abd9c-17a387-117d67-093d33

// RGB
$color1: rgba(28, 201, 167, 1);
$color2: rgba(26, 189, 156, 1);
$color3: rgba(23, 163, 135, 1);
$color4: rgba(17, 125, 103, 1);
$color5: rgba(9, 61, 51, 1);
