/* Backgrounds */

.bg-google-map {
    position: absolute;
    height: 100%;
    width: 100%;
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        background-color: rgba(#191919, 80%); 
    }
}

.bg-color-one {
    background-color: $color1;
}

.bg-color-two {
    background-color: $color2;
}

.bg-color-three {
    background-color: $color3;
}

.bg-color-four {
    background-color: $color4;
}

.bg-color-five {
    background-color: $color5;
}