/* Text Colors */

.text-color-one {
    color: $color1;
}

/* Text Shadow */ 

.text-shadow {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

/* Text Font */

.text-cursive {
    font-family: 'Gochi Hand', cursive;
}