/* Contact */

#contact {
    position: relative;
    color: white;
    background-color: #191919;

    .social a i {
        margin: 10px 10px 10px 0;
    }
    
    input, textarea {
        color: white;
    }
    
    select {
        color: white; // color of the selected option

        option {
            color: black; // color of all the other options
        }
    }
    
    input, select, textarea {
        border-bottom: 2px solid $color1;
    }
    
    input[type="submit"] {
        color: $color1;
        border: 2px solid $color1;
        @include btn-hover($color1, white);
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        -webkit-text-fill-color: #FFF;
    }
}
